@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Carbon Footprint?</h1>
        <h3>How can carbon have a footprint if it doesn't have feet?</h3>
    </div>

    <div class="card" style="width:20rem; text-align:center; float:left; margin-left:-350px">
        <div class="card-body">
            <strong>What is a carbon footprint?</strong><br />
            A carbon footprint is the total amount of greenhouse gas emissions that anything – a person, organization,
            event or product – has produced. Greenhouse gases are the gases in the atmosphere that produce the “greenhouse effect”
            and contribute to global warming and climate change.<br />

            So your carbon footprint is a way to measure the environmental impact your lifestyle has.
            For example, if you drive to work every day your carbon footprint might be bigger than someone who relies on public transport
            because you’re emitting more greenhouse gas.<br />

            <br /><p>
                <strong>
                    Read more about CNN's article on carbon emissions
                    <a href="https://www.cnn.com/2019/09/08/us/carbon-footprint-facts-trnd" style="text-decoration:underline">here</a>
                </strong>
            </p>
        </div>
    </div>

    <div id="container" style="height: 500px;"></div>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://unpkg.com/deck.gl@7.3/dist.min.js"></script>
    @*<script type="text/javascript" src="~/js/heatMap.js"></script>*@
    <p><strong>The map shows Carbon emission levels the darker colors are higher and the lighter ones are lower.</strong></p>  
</body>