@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="container" style="height: 500px;"></div>


<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<script src="https://unpkg.com/deck.gl@7.3/dist.min.js"></script>

<div id="container" style="height: 500px;"></div>

<script>
    const API_URL = 'https://api.v2.emissions-api.org/api/v2/carbonmonoxide/geo.json' +
        '?country=US&begin=2021-03-21&end=2021-03-21';

    new deck.DeckGL({
        container: 'container',
        mapboxApiAccessToken: '<your mapbox token>',
        mapStyle: "mapbox://styles/mapbox/dark-v9",
        longitude: -97,
        latitude: 40,
        zoom: 3,
        pitch: 60,
        layers: [
            new deck.HexagonLayer({
                extruded: true,
                radius: 30000,
                data: API_URL,
                dataTransform: d => d.features,
                elevationScale: 300,
                getColorValue: points => points.reduce((sum, point) => sum + point.properties.value, 0) / points.length,
                getElevationValue: points => points.reduce((sum, point) => sum + point.properties.value, 0) / points.length,
                getPosition: d => d.geometry.coordinates,
            }),
        ]
    });
</script>